/*---------------------------------------------------------------------------
|    QBee - Common Elements
|--------------------------------------------------------------------------*/

// Site Menu
// ---------------------------------------------------------------------------
nav.site-menu {
    ul {
        display: flex;
        align-items: center;
        margin: 0;
        li {
            a {
                display: inline-block;
                &:hover {
                    @include transition(all linear 0.3s);
                }
            }
        }
    }
}

// Sections
// ---------------------------------------------------------------------------
main {
    background-color: $qbee-color-back;
}

[class*="-section"] {
    overflow: hidden;
    display: flex;
}
.no-pad {
    padding: 0;
}
.xs-pad {
    padding: $qbee-padding-xs;
}
.sm-pad {
    padding: $qbee-padding-sm;
}
.md-pad {
    padding: $qbee-padding-md;
}
.lg-pad {
    padding: $qbee-padding-lg;
}
.xl-pad {
    padding: $qbee-padding-xl;
}

.container-wrap {
    width: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

// Section Backgrounds
// ---------------------------------------------------------------------------
.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg-black-80, .bg-blacken {
    .container-wrap {
        background-color: rgba($qbee-color-black, 0.8);
    }
}

.bg-white-80, .bg-whiten {
    .container-wrap {
        background-color: rgba($qbee-color-white, 0.8);
    }
}


// Section Heading
// ---------------------------------------------------------------------------
.heading {
    text-align: center;
    margin-bottom: 4rem;

    h1.title {
        margin-bottom: 2rem;
        color: $qbee-color-primary;
        font-weight: 900;
        text-transform: uppercase;
        + h2 {
            color: $qbee-color-head-light;
            font-weight: 300;
        }
    }
    h2:first-child {
        position: relative;
        margin-bottom: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        &:after {
            position: absolute;
            width: 5rem;
            height: 4px;
            bottom: -1rem;
            left: 50%;
            margin-left: -2.5rem;
            background: $qbee-color-primary;    
            content: '';
        }
        + h5 {
            font-weight: 300;
        }
    }
}

// Section Images
// ---------------------------------------------------------------------------
.img-wrap {
    margin: 2rem;
    text-align: center;

    img {
        max-width: 28rem;

        &.profile {
            max-width: 18rem;
        }
    }
}

// Progress bar
// ---------------------------------------------------------------------------
progress {
    background-color: $qbee-color-progress-back;
    width: 100%;
    height: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 90px;

    /*For firefox*/
    &::-moz-progress-bar { 
        background: $qbee-color-progress-meter;
        border-radius: 90px;
    }
    /*For webkit browsers*/
    &::-webkit-progress-bar {
        background: $qbee-color-progress-back;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
        border-radius: 90px;
    }
    &::-webkit-progress-value {
        background: $qbee-color-progress-meter;
        border-radius: 90px;
    }
    /*For IE*/
    &::-ms-fill { 
        background: $qbee-color-progress-meter;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
        border-radius: 90px;
    }

    .progress-bar {
        height: 0.5rem;
        margin: 0.5rem 0;
        background-color: $qbee-color-progress-back;
        border-radius: 90px;
    }
    .progress-meter {
        background-color: $qbee-color-progress-meter;
        display: block;
        height: 0.5rem;
        border-radius: 90px;
    }
}

// Notices
// ---------------------------------------------------------------------------
.notices {
    padding: .5rem 1rem;
    margin: 1rem 2rem 1.5rem;
    > p {
        margin-bottom: 0;
        font-size: $font-size-small;
    }
    &.yellow {
        @include qbee-notices($qbee-color-warning);
    }
    &.red {
        @include qbee-notices($qbee-color-error);
    }
    &.blue {
        @include qbee-notices($qbee-color-focus);
    }
    &.green {
        @include qbee-notices($qbee-color-success);
    }
}