/*---------------------------------------------------------------------------
|    QBee - Media breakpoints
|--------------------------------------------------------------------------*/

// min-768px
@media (min-width: $sm) {
    .container {
        max-width: 720px;
    }
}

// min-1024px
@media (min-width: $md) {
    .container {
        max-width: 968px;
    }
}

// min-1200px
@media (min-width: $lg) {
    .container {
        max-width: 1104px;
    }
}

// max 768px
@media (max-width: $sm) {

    .img-wrap {
        img {
            max-width: 18rem;
            &.profile {
                max-width: 8rem;
            }
        }
    }
    .notices {
        padding: 0.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    header {
        height: 3rem;
        .container-wrap {
            background-color: rgba($qbee-header-color-back, 0.95);
        }
        .site-brand {
            .site-name {
                font-size: $qbee-header-font-size-head-sm;
            }
            .site-logo {
                max-height: $qbee-header-font-size-head-sm;
            }
        }
        #navbar {
            display: block;
            height: auto;
            padding-bottom: 24px;
            .site-brand {
                display: none;
            }
            nav.site-menu {
                padding: 0;
                border: none; 
                ul {
                    display: block;
                    li {
                        margin: 0.5rem 0;
                        padding: 0;
                        width: auto;
                        text-align: center;
                    }
                }
            }
        }
    }
}