//---------------------------------------------------------------------------
//    QBee - Mixins
//--------------------------------------------------------------------------

// Buttons
// ---------------------------------------------------------------------------
@mixin qbee-button($color-text, $color-back, $color-text-hover, $color-back-hover)
{
	background-color: $color-back;
    color: $color-text;
    border: 2px solid $color-back;
    @include transition(all linear 0.3s);

	&:hover {
	    background-color: $color-back-hover;
        color: $color-text-hover;
        opacity: 1;
	}
    &:disabled,
    &.disabled {
	    color: rgba($color-text, .6);
	    background-color: rgba($color-back, .6);
    }
    &.outline {
        background: none;
        color: $color-back;
        border-color: $color-back;

        &:hover {
            color: $color-back-hover;
            border-color: $color-back-hover;
        }
        &:disabled,
        &.disabled {
            background: none;
    	    color: rgba($color-back, .6);
    	    border-color: rgba($color-back, .6);
        }
    }
}

// Menu Button
// ---------------------------------------------------------------------------
@mixin qbee-menu-button($color-text, $color-back, $color-text-hover, $color-back-hover)
{
    font-size: $font-size-small;
    a {
        display: inline-block;
        background-color: $color-back;
        color: $color-text;
        border: 1px solid $color-text;
        text-decoration: none;
        line-height: 28px;
        border-radius: 4px;
        padding: 0 16px;
        &:hover {
            text-decoration: none;
            background-color: $color-back-hover;
            color: $color-text-hover;
        }
    }
}

// Notices
// ---------------------------------------------------------------------------
@mixin qbee-notices($color)
{
    background: lighten($color, 30%);
    color: darken($color, 20%);
    border-left: 0.5rem solid $color;
    a {
        color: darken($color, 20%);
        &:hover {
            color: $color;
        }
    }
}

// Color Scheme
// ---------------------------------------------------------------------------
@mixin qbee-scheme($color-back, 
                    $color-text,
                    $color-text-light,
                    $color-text-dark,
                    $color-head,
                    $color-head-light,
                    $color-head-dark, 
                    $color-link, 
                    $color-link-hover,
                    $color-code,
                    $color-code-back,
                    $color-border,
                    $color-shadow,
                    $color-feature-back,
                    $color-profile-back,
                    $color-profile-text) {

    background-color: $color-back;
    color: $color-text;

    h1, h2, h3, h4, h5, h6 {
        color: $color-head;
    }
    a {
        color: $color-link;
        &:hover,
        &:focus {
            color: $color-link-hover;
        }
    }
    blockquote {
        border-color: $color-border;
        color: $color-text-light;
    }
    pre,
    pre code {
        background-color: $color-code-back;
        color: $color-code;
    }
    th, td {
        border-bottom-color: $color-border;
    }
    .heading {
        h1.title {
            + h2 {
                color: $color-head-light;
            }
        }
    }
    .img-wrap {
        box-shadow: 0 0 20px $color-shadow;
    }

    .feature-item {
        background-color: $color-feature-back;
        &:hover {
            border-color:  $color-border;
        }
        .feature-icon {
            color: $color-head-light;
        }
    }

    .skill-item {
        h6 {
            color: $color-head-light;
        }
        .skill-meter {
            .skill-value {
                color: $color-profile-text;
                background: $color-profile-back;
            }
        }
    }
}