/*---------------------------------------------------------------------------
|    QBee - Kube Overrides
|--------------------------------------------------------------------------*/

// body
body {
    background-color: $qbee-color-black;
    color: $qbee-color-text;
    font-family: $qbee-font-text;
}

// headings
h1, h2, h3, h4, h5, h6 {
    color: $qbee-color-head;
    font-family: $qbee-font-head;
    font-weight: 500;
}
h1.title {
    color: $qbee-color-head-dark;
    font-family: $qbee-font-head;
    font-weight: 700;
}

// input fields
pre, code, samp, var, kbd {
    font-family: $qbee-font-mono;
}

/// buttons
button, .button {
    font-family: $qbee-font-text;
}

// links
a {
    color: $qbee-color-link; 
    &:hover, 
    &:focus {
        text-decoration: none;
        outline: none;
        color: $qbee-color-link-hover; 
    }
}

// blockquote
blockquote {
    border-color: $qbee-color-border;
    color: $qbee-color-text-light;
}

// Top Space
p,
ul,
ol,
dl,
blockquote,
hr,
pre,
table,
form,
figure,
div.notices {
	+ h2,
	+ h3,
	+ h4,
	+ h5,
	+ h6 {
		margin-top: $base-line * 2;
	}
}

cite {
    opacity: 0.92;
}

pre,
pre code {
  background-color: $qbee-color-code-back;
  color: $qbee-color-code-text;
}

// buttons
.button {
    @include qbee-button($qbee-color-button-primary-text, $qbee-color-button-primary, 
    $qbee-color-button-primary-text-hover, $qbee-color-button-primary-hover);
}
.button.secondary {
    @include qbee-button($qbee-color-button-secondary-text, $qbee-color-button-secondary, 
    $qbee-color-button-secondary-text-hover, $qbee-color-button-secondary-hover);
}
.button.action {
    @include qbee-button($qbee-color-button-stress-text, $qbee-color-button-stress, 
    $qbee-color-button-stress-text-hover, $qbee-color-button-stress-hover);
}
.button.accent {
    @include qbee-button($qbee-color-button-accent-text, $qbee-color-button-accent, 
    $qbee-color-button-accent-text-hover, $qbee-color-button-accent-hover);
}
.button.inverted {
    @include qbee-button($qbee-color-button-inverted-text, $qbee-color-button-inverted, 
    $qbee-color-button-inverted-text-hover, $qbee-color-button-inverted-hover);
}


// input fields
input,
textarea,
select {
    &:focus {
    	border-color: $qbee-color-focus;
    }
    &.error {
	    background-color: rgba($qbee-color-error, .1);
    	border-color: lighten($qbee-color-error, 10%);
    	&:focus {
            border-color: $qbee-color-error;
    	}
	}
    &.success  {
    	background-color: rgba($qbee-color-success, .1);
    	border-color: lighten($qbee-color-success, 10%);
    	&:focus {
            border-color: $qbee-color-success;
    	}
    }
    &:disabled,
    &.disabled {
    	color: $qbee-color-text-disabled;
	}
}

.req {
    color: $qbee-color-error;
}

// labels
.label.success {
    @include label($qbee-color-text-negative, $qbee-color-success);
}
.label.error {
    @include label($qbee-color-text-negative, $qbee-color-error);
}
.label.warning {
    @include label($qbee-color-text, $qbee-color-warning);
}
.label.focus {
    @include label($qbee-color-text-negative, $qbee-color-focus);
}
.label.black {
    @include label($qbee-color-text-negative, $qbee-color-black);
}
.label.inverted {
    @include label($qbee-color-text, $qbee-color-white);
}

// messages
.message.error {
    background: $qbee-color-error;
    color: $qbee-color-text-negative; 
}
  
.message.success {
    background: $qbee-color-success;
    color: $qbee-color-text-negative; 
}

.message.warning {
    background: $qbee-color-warning; 
    color: $qbee-color-text;
}

.message.focus {
    background: $qbee-color-focus;
    color: $qbee-color-text-negative; 
}

.message.black {
    background: $qbee-color-black;
    color: $qbee-color-text-negative; 
}

.message.inverted {
    background: $qbee-color-white;
    color: $qbee-color-text;
}

// colors
.error {
    color: $qbee-color-error; 
}

.success {
    color: $qbee-color-success;
}

.warning {
    color: $qbee-color-warning; 
}

.focus {
    color: $qbee-color-focus; 
}

.bg-error {
    background-color: $qbee-color-error; 
}

.bg-success {
    background-color: $qbee-color-success; 
}

.bg-warning {
    background-color: $qbee-color-warning; 
}

.bg-focus {
    background-color: $qbee-color-focus; 
}