// ---------------------------------------------------------------------------
//  QBee Theme Variables
// ---------------------------------------------------------------------------


// FONT FAMILY
// ---------------------------------------------------------------------------
$qbee-font-text: 'Lato', 'Helvetica Neue', Helvetica, sans-serif !default;
$qbee-font-head: 'Montserrat', Helvetica, sans-serif !default;
$qbee-font-mono: 'Source Code Pro', Monaco, monospace !default;


// COLORS
// ---------------------------------------------------------------------------

// Font colors
$qbee-gray-900: #212121 !default;
$qbee-gray-800: #424242 !default;
$qbee-gray-700: #616161 !default;
$qbee-gray-600: #757575 !default;
$qbee-gray-500: #9e9e9e !default;
$qbee-gray-400: #bdbdbd !default;
$qbee-gray-300: #e0e0e0 !default;
$qbee-gray-200: #eeeeee !default;
$qbee-gray-100: #f5f5f5 !default;
$qbee-gray-50: #fafafa !default;

// Background gradient colors
$qbee-black-50: #f1f2f4 !default;
$qbee-black-100: #e2e3e5 !default;
$qbee-black-200: #c9cacc !default;
$qbee-black-300: #b0b1b3 !default;
$qbee-black-400: #97989a !default;
$qbee-black-500: #7e7f80 !default;
$qbee-black-600: #656667 !default;
$qbee-black-700: #4c4e4d !default;
$qbee-black-800: #333435 !default;
$qbee-black-900: #1a1b1c !default;

// B&W colors
$qbee-color-black: #0d0d0e !default;
$qbee-color-white: #fffffd !default;

// Main colors
$qbee-color-primary: #ffc107 !default;
$qbee-color-stress: #00c9b7 !default;
$qbee-color-accent: #00D4FF !default;
$qbee-color-beat: #FF45B7 !default;

// Statuses colors
$qbee-color-error: #f03c69 !default;
$qbee-color-success: #35beb1 !default;
$qbee-color-warning: #f7ba45 !default;
$qbee-color-focus: #1c86f2 !default;

// Button
$qbee-color-button-primary: $qbee-color-primary !default;
$qbee-color-button-primary-text: $qbee-gray-50 !default;
$qbee-color-button-primary-hover: #ffe083 !default;
$qbee-color-button-primary-text-hover: $qbee-gray-900 !default;

$qbee-color-button-secondary: $qbee-black-700 !default;
$qbee-color-button-secondary-text: $qbee-gray-50 !default;
$qbee-color-button-secondary-hover: $qbee-color-primary !default;
$qbee-color-button-secondary-text-hover: $qbee-gray-900 !default;

$qbee-color-button-inverted: $qbee-color-white !default;
$qbee-color-button-inverted-text: $qbee-gray-800 !default;
$qbee-color-button-inverted-hover: $qbee-color-primary !default;
$qbee-color-button-inverted-text-hover: $qbee-gray-900 !default;

$qbee-color-button-stress: $qbee-color-stress !default;
$qbee-color-button-stress-text: $qbee-gray-50 !default;
$qbee-color-button-stress-hover: #64fff1 !default;
$qbee-color-button-stress-text-hover: $qbee-gray-900 !default;

$qbee-color-button-accent: $qbee-color-accent !default;
$qbee-color-button-accent-text: $qbee-gray-50 !default;
$qbee-color-button-accent-hover: #7fe9ff !default;
$qbee-color-button-accent-text-hover: $qbee-gray-900 !default;

$qbee-color-button-beat: $qbee-color-beat !default;
$qbee-color-button-beat-text: $qbee-gray-50 !default;
$qbee-color-button-beat-hover: #ffa2db !default;
$qbee-color-button-beat-text-hover: $qbee-gray-900 !default;


// Text
$qbee-color-back: $qbee-color-white !default;

$qbee-color-text: $qbee-gray-700 !default;
$qbee-color-text-dark: $qbee-gray-800 !default;
$qbee-color-text-light: $qbee-gray-600 !default;
$qbee-color-text-disabled: $qbee-gray-400 !default;
$qbee-color-text-negative: $qbee-gray-300 !default;

$qbee-color-head: $qbee-gray-800 !default;
$qbee-color-head-dark: $qbee-gray-900 !default;
$qbee-color-head-light: $qbee-gray-600 !default;

$qbee-color-link: $qbee-color-beat !default;
$qbee-color-link-hover: $qbee-color-accent !default;

$qbee-color-code-text: $qbee-gray-900 !default;
$qbee-color-code-back: $qbee-black-100 !default;

// Elements
$qbee-color-border: $qbee-black-200 !default;
$qbee-color-divider: $qbee-black-400 !default;
$qbee-color-shadow: rgba($qbee-color-black, 0.10) !default;
$qbee-color-progress-back: $qbee-black-100 !default;
$qbee-color-progress-meter: $qbee-color-primary !default;


// SECTIONS
// ---------------------------------------------------------------------------

// Padding
$qbee-padding-xs: 1rem 0 !default; 
$qbee-padding-sm: 2rem 0 !default; 
$qbee-padding-md: 4rem 0 !default; 
$qbee-padding-lg: 6rem 0 !default; 
$qbee-padding-xl: 8rem 0 !default; 

// Header
$qbee-header-color-back: $qbee-color-black !default;
$qbee-header-color-text: $qbee-gray-200 !default;
$qbee-header-color-link: $qbee-gray-400 !default;
$qbee-header-color-link-hover: $qbee-gray-50 !default;
$qbee-header-font-size-head: 32px !default;
$qbee-header-font-size-head-sm: 24px !default;

// Profile
$qbee-profile-color-label-text: $qbee-gray-50 !default;
$qbee-profile-color-label-back: $qbee-black-700 !default;

// Features
$qbee-feature-color-item-back: #f6f8fa !default;