<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>

    {% block stylesheets %}
    <!-- Bootstrap Core CSS -->
    {% do assets.addCss('theme://css/bootstrap.min.css',100) %}

    <!-- Custom CSS -->
    {% do assets.addCss('theme://css/grayscale.css',100) %}

    <!-- Custom Fonts -->
    {% do assets.addCss('theme://css/font-awesome/css/font-awesome.min.css',100) %}
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    {% endblock %}
    {{ assets.css() }}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  {% endblock head%}

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    {% block header_navigation %}
        {% include 'partials/navigation.html.twig' %}
    {% endblock %}
  
    {% block body %}
        {% block content %}{% endblock %}
    {% endblock %}

    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}

    {% block javascripts_bottom %}

    <!-- jQuery -->
      {% do assets.add('jquery',101) %}

      <!-- Bootstrap Core JavaScript -->
      {% do assets.addJs('theme://js/bootstrap.min.js',100) %}

      <!-- Plugin JavaScript -->
      {% do assets.addJs('theme://js/jquery.easing.min.js') %}

      <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

      <!-- Custom Theme JavaScript -->
      {% do assets.addJs('theme://js/grayscale.js') %}
    {% endblock %}
  {{ assets.js() }}

</body>

</html>
