{% extends 'partials/fragments/default.html.twig' %}

{% block heading %}
    {% if page.header.show_heading %}
        <div class="heading">
            <h1 class="title">{{page.header.title}}</h1>
            {% if page.header.subtitle %}
                <h2>{{page.header.subtitle}}</h2>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
