{% extends 'partials/fragments/default.html.twig' %}

{% block content %}
    {% if render_image and img_position != 'back' %}
        <div class="content row gutters">
            <div class="col col-6 {% if img_position == 'left' %}first{% else %}last{% endif %}">
                <div class="img-wrap">
                    <img src="{{ image.url }}" />
                </div>
            </div>
            <div class="col col-6">
                {{ page.content }}
            </div>
        </div>
    {% else %}
        <div class="content">
            {{ page.content }}
        </div>
    {% endif %}
{% endblock %}