{% set logo = theme_var(mobile ? 'custom_logo_mobile' : 'custom_logo') %}
<a href="{{ home_url }}" class="navbar-brand mr-10">
  <img src="{{ url('theme://images/neutrinet-autre-logo-text.png')  }}" alt="{{ site.name }}" />
</a>