{% import 'macros/macros.html.twig' as macros %}

<ul {{ tree ? 'class="tree"' : '' }}>
    {{ macros.nav_loop(pages) }}
    {% if config.plugins.langswitcher.enabled %}
    <li><a href="#">{{ 'PLUGIN_ADMIN.LANGUAGE'|t }}</a>
        {% include 'partials/langswitcher.html.twig' %}
    </li>
    {% endif %}
</ul>
