.zorglub:hover { text-decoration: none; }

.overlay-light .image-overlay {
    background: rgba(255, 255, 255, 0.5);
}

.overlay-dark .image-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.overlay-dark-gradient .image-overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.overlay-light-gradient .image-overlay {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
}

.text-dark p {
    color:rgba(36, 41, 49, 0.8);
}

.blog-listing table {
  border-collapse: collapse;
  margin-bottom: 0.8rem;
}

.blog-listing td,
.blog-listing th {
  border: solid black;
  border-width: 0;
  border-left-width: 1px;
  padding: 0.5em;
  vertical-align: middle;
}

.blog-listing td:first-child,
.blog-listing th:first-child {
  border-width: 0;
  border-right-width: 1px;
}

.blog-listing tr:nth-child(even) {
  background-color: #eee;
}

.blog-listing th {
  white-space: wrap;
}

.donation-tier {
  border-radius: 3px;
  padding: 0 3px;
}

.donation-tier.tier1 {
  background-color: #A1D2F0;
}
.donation-tier.tier2 {
  background-color: #F0BFA1;
}
.donation-tier.tier3 {
  background-color: #D2F0A1;
}

@media all and (min-width:480px) {
    .logo-ami {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 30%;
    }
}

.modular-features .feature-content {
  color: black;
}

#donation {
  display: flex;
  padding: 4rem 0 0;
  align-items: center;
  justify-content: center;
  background-color: black;
}

#donation .container {
  background-color: #F4DFC2;
  padding: 0.5rem 0;
  color: black;
}

#donation p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
}

#donation a {
  color: #19427E;
}

#donation a:hover {
  color: #365795;
}

// div.custom-banner-container {
// 	position: fixed;
// 	width: 100%;
// 	z-index: 10000;
// 	-webkit-transition: all 0.2s ease-in-out 0s;
// 	-moz-transition: all 0.2s ease-in-out 0s;
// 	-ms-transition: all 0.2s ease-in-out 0s;
// 	transition: all 0.2s ease-in-out 0s;
// 	opacity: 0;
// 	visibility: hidden;
// 	bottom: 1rem;
// 	right: 1rem;
// }
// 
// div.custom-banner-body {
// 	display: flex;
// 	justify-content: space-between;
// 	margin: 0 0 0 auto;
// 	padding: 1rem 1.5rem;
// 	border-radius: 4px;
// }
