.zorglub:hover { text-decoration: none; }

.overlay-light .image-overlay {
    background: rgba(255, 255, 255, 0.5);
}

.overlay-dark .image-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.overlay-dark-gradient .image-overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.overlay-light-gradient .image-overlay {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
}

.text-dark p {
    color:rgba(36, 41, 49, 0.8);
}

.blog-listing table {
  border-collapse: collapse;
  margin-bottom: 0.8rem;
}

.blog-listing td,
.blog-listing th {
  border: solid black;
  border-width: 0;
  border-left-width: 1px;
  padding: 0.5em;
  vertical-align: middle;
}

.blog-listing td:first-child,
.blog-listing th:first-child {
  border-width: 0;
  border-right-width: 1px;
}

.blog-listing tr:nth-child(even) {
  background-color: #eee;
}

.blog-listing th {
  white-space: wrap;
}

@media all and (min-width:480px) {
    .logo-ami {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 30%;
    }
}

.modular-features .feature-content {
  color: black;
}
