.zorglub:hover { text-decoration: none; }

.overlay-light .image-overlay {
    background: rgba(255, 255, 255, 0.5);
}

.overlay-dark .image-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.overlay-dark-gradient .image-overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.overlay-light-gradient .image-overlay {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
}

.text-dark p {
    color:rgba(36, 41, 49, 0.8);
}

.blog-listing table {
  border-collapse: collapse;
  margin-bottom: 0.8rem;
}

.blog-listing td,
.blog-listing th {
  border: solid black;
  border-width: 0;
  border-left-width: 1px;
  padding: 0.5em;
  vertical-align: middle;
}

.blog-listing td:first-child,
.blog-listing th:first-child {
  border-width: 0;
  border-right-width: 1px;
}

.blog-listing tr:nth-child(even) {
  background-color: #eee;
}

.blog-listing th {
  white-space: wrap;
}

.donation-tier {
  border-radius: 3px;
  padding: 0 3px;
}

.donation-tier.tier1 {
  background-color: #A1D2F0;
}
.donation-tier.tier2 {
  background-color: #F0BFA1;
}
.donation-tier.tier3 {
  background-color: #D2F0A1;
}

@media all and (min-width:480px) {
    .logo-ami {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 30%;
    }
}

.modular-features .feature-content {
  color: black;
}

#donation {
  display: flex;
  padding: 4rem 0 0;
  align-items: center;
  justify-content: center;
  background-color: black;
}

#donation .container {
  background-color: #F4DFC2;
  padding: 0.5rem 0;
  color: black;
}

#donation p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
}

#donation a {
  color: #19427E;
}

#donation a:hover {
  color: #365795;
}

#donation .nowrap-box {
  display: inline-block;
}

div.custom-banner-container {
  /* Invisible: fixes banner on page above page content */
  position: fixed;
  width: 100%;
  z-index: 10000;

  /* Animate show/hide */
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
 
  bottom: 1rem;
  right: 1rem;
 
  /* Hidden by default */
  opacity: 0;
  visibility: hidden;
}

div.custom-banner-container.shown {
  opacity: 1;
  visibility: visible;
}

div.custom-banner-body {
  /* Visible: visible banner background */
  display: flex;
  justify-content: space-between;
  width: 20%;
  min-width: 350px;
  margin: 0 0 0 auto;
  padding: 1rem ;
  border-radius: 10px;
  box-shadow: 5px 5px 1rem gray; 
  background-color: #f4dfc2;
  color: black;
}

div.custom-banner-content {
  /* Visible: content of banner */
  margin: 0 auto;
  overflow-wrap: anywhere;
}

.custom-banner-body h1 {
  color: black;
  font-size: 120%;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.custom-banner-body a {
  color: #19427E;
}

.custom-banner-body a:hover {
  color: #365795;
}


@media all and (max-width:480px) {
  div.custom-banner-container {
    right: 0;
  }
      
  div.custom-banner-body {
    width: 80%;
    min-width: 0;
    margin: 0 auto;
  }
}

.copyable {
    user-select: all;
    cursor: pointer;
}
